@model List<EmployeeManagement.Models.EmployeeSalary>

<div>
    <h2>Salary Records</h2>
    <table class="table">
        <thead>
            <tr>
                <th>EmployeeId</th> 
                <th>Amount</th>
                <th>SalaryDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
            <tr>
                <td>@record.EmployeeId</td> 
                <td>@record.Amount</td>
                <td>@record.SalaryDate</td>
            </tr>
            }
        </tbody>
    </table>
</div>
